@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* .navbari{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #2d3436;
    padding: 2vh 7vh 3vh;
} */
/* .navbari a {
    color: #fff;
    font-size: 20px;
}
.navbari li a {
    text-decoration:underline;
} */
a{
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.sidebar{
    width: 100%;
}

.sidebar a:hover{
    color: #fcfa7c;
}
.sidebar .active{
    color: #fcfa7c;
}
main{
    /* position: fixed; */
    top: 15vh;
    /* right: 15vh;
    background: #f1c40f;
    border: 1px solid #7f8c8d; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
h1{
    text-align: center;
}
table{
    border: 1px solid #7f8c8d;
}
td{
    border: 1px solid #7f8c8d;
    border-collapse: collapse;
    padding: 5px;
}
