@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background: url(../images/proteinsbg.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/*
.kombinimi h3{
    text-align: center;
    font-size: 35px;
    color: rgb(51, 51, 51);
    padding-top: 11vh;
}
.shto{
    margin-top: 10vh;
}

 ------------------- Flip-cards ---------- 
.kombinimi-par{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.kombinim {
    width: 290px;
    height: 400px;
    font-family: sans-serif;
    padding: 3vh 2vh 2vh;
  }
  
.title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
  
.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.kombinim:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.kombinimi-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}
  
  
.flip-card-back {
    background-color: #1113;
    color: white;
    transform: rotateY(180deg);
    justify-content: center;
}
.flip-card-back p {
    font-size: 20px;
    text-align: center;
}
.kombinimi-front img{
    width: 100%;
    padding-bottom: 10%;
} */

.shto{
    width: 300px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 7px;
    background: url(../images/proteinsbg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3d3d3d;
    text-align: center;
    max-width: 140px;
    padding-bottom: 20px;
}
.shto input{
    background-color:#f7f1e3 ;
    border-radius: 14px;
    padding-left: 5px;
}
.shto textarea{
    min-width: 200px;
    max-width: 200px;
}
.shto input[type=submit]{
    width: fit-content;
    padding: 5px;
    background: #3d3d3d;
    color: #f7f1e3;
}
.shtoj{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}
@media screen and (max-width: 550px ) {
    header nav{
        position: sticky;
        justify-content: center;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .kombinimi-par{
        align-items: center;
        justify-content: center;
    }
    .kombinimi h3{
        font-size: 25px;
    }
    .kombinim {
        width: 250px;
        height: 320px;
        font-family: sans-serif;
        padding: 3vh 2vh 2vh;
      }
      #product_name{
        text-align: center;
      }
      #product_image{
        width: 200px;
      }
}

@media screen and (min-width: 551px ) and (max-width: 970px){
    header nav{
        position: sticky;
        justify-content: center;
    }
    main{
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .kombinimi-par{
        align-items: center;
        justify-content: center;
    }
}